<div id="one"><table>
  <tr>
    <td><button (click)="negacjaBit_liczba1(0)" [ngClass]="(czyBit(liczba1, 0)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(1)" [ngClass]="(czyBit(liczba1, 1)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(2)" [ngClass]="(czyBit(liczba1, 2)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(3)" [ngClass]="(czyBit(liczba1, 3)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(4)" [ngClass]="(czyBit(liczba1, 4)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(5)" [ngClass]="(czyBit(liczba1, 5)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(6)" [ngClass]="(czyBit(liczba1, 6)?'ok':'nok')" >X</button></td>
    <td><button (click)="negacjaBit_liczba1(7)" [ngClass]="(czyBit(liczba1, 7)?'ok':'nok')" >X</button></td>
  </tr>
  <tr>
      <td><button (click)="negacjaBit_liczba2(0)" [ngClass]="(czyBit(liczba2, 0)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(1)" [ngClass]="(czyBit(liczba2, 1)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(2)" [ngClass]="(czyBit(liczba2, 2)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(3)" [ngClass]="(czyBit(liczba2, 3)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(4)" [ngClass]="(czyBit(liczba2, 4)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(5)" [ngClass]="(czyBit(liczba2, 5)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(6)" [ngClass]="(czyBit(liczba2, 6)?'ok':'nok')" >X</button></td>
      <td><button (click)="negacjaBit_liczba2(7)" [ngClass]="(czyBit(liczba2, 7)?'ok':'nok')" >X</button></td>
        </tr>
    <tr>
        <td><button  [ngClass]="(czyBit(wynik, 0)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 1)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 2)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 3)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 4)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 5)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 6)?'ok':'nok')">X</button></td>
        <td><button  [ngClass]="(czyBit(wynik, 7)?'ok':'nok')">X</button></td>
      </tr>
      <tr></tr>
    </table>
    <div class="text">
Wynik wynosi: {{wynik}}
</div>
</div>