li{
    background-color: aliceblue;
    height: 42px;
    text-align: center;
    width: 100%;
    clear: both;
    margin-top: 5px;
    padding: 3px;

span{
    
    float: right;
    width: 100px;
    font-size: 15px;
    font-family: fantasy;
}
}
    
   
 